@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

/* .theme-dark {
  --dark-text: #292929;
  --light-text: #f9f8f8;
  --dark-background: #2f4550;
  --light-background: #586f7c;
  --accent: #b8d8d9;
  --button-border: #b8d8d9;
}

.theme-light {
  --dark-text: #5e4b56;
  --light-text: #5e4b56;
  --dark-background: white;
  --light-background: #eddcd2;
  --accent: #dbe7e4;
  --button-border: #5e4b56;
}
html,
#root {
  background: var(--dark-background);
  color: var(--dark-text);
  height: 100%;
}

body {
  height: 100%;
}

.main-container {
  background-color: var(--light-background);
} */

.cursive {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}

.porse img {
  margin-left: auto;
  margin-right: auto;
  border-bottom: 5px;
}

.home-name {
  font-size: 75px;
}
.home-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-load {
  font-size: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-heading {
  font-size: 56px;
  font-weight: 600;
}
.skills-text-subtitle,
.skills-text {
  font-size: 19px;
  font-weight: 600;
  color: #868e96;
}

.skills-text-container {
  display: grid;
}

.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 56px;
  margin-bottom: 8px;
  margin-top: 8px;
  padding-left: 100px;
}
.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.software-skill-inline > i {
  color: #868e96;
}

.software-skill-inline > i:hover {
  color: #645beb;
}
.software-skill-inline > p {
  color: #868e96;
  font-size: 10px;
}
.software-skill-inline > i:hover ~ p {
  color: #645beb;
}

.contact-section {
  text-align: center;
}
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
}
.number {
  padding-right: 8px;
}
.dev-icons-project {
  padding-left: 0;
  list-style: none;
  font-size: 28px;
}

.technology-stack {
  display: flex;
  justify-content: space-evenly;
}

.technology-stack p {
  font-size: 20px;
  padding-top: 5px;
}
.view-link {
  margin-top: 10px;
}
