@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.cursive {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}
.navbar-custom {
  align-items: center;
}
.porse img {
  margin-left: auto;
  margin-right: auto;
  border-bottom: 5px;
}

.home-name {
  font-size: 75px;
}
.home-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-load {
  font-size: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-heading {
  font-weight: 600;
}
.skills-text-subtitle {
  font-weight: 600;
  color: #868e96;
}

.dev-icons {
  list-style: none;
  margin-bottom: 8px;
  margin-top: 8px;
}
.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
}
.skills-text {
  font-weight: 600;
  color: #868e96;
}

.software-skill-inline > i {
  color: #868e96;
}

.software-skill-inline > i:hover {
  color: #645beb;
}
.software-skill-inline > p {
  color: #868e96;
  font-size: 10px;
}
.software-skill-inline > i:hover ~ p {
  color: #645beb;
}

.contact-section {
  text-align: center;
}
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
}
.number {
  padding-right: 8px;
}
.dev-icons-project {
  font-size: 28px;
}

.technology-stack {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.technology-stack p {
  font-size: 20px;
  padding-top: 5px;
}

.view-link {
  margin-top: 10px;
}
